.el-button+.el-button {
  margin-left: 20px;
}

.el-button--primary, .el-button--success, .el-button--warning, .el-button--danger {
  text-align: center;

  border: none;
}

.el-button--primary:hover, .el-button--primary:focus {
  background-color: $--primary-background-color-hover;
}

.el-button--success:hover, .el-button--success:focus {
  background-color: red;
}

.el-button--warning:hover, .el-button--warning:focus {
  background-color: red;
}

.el-button--danger:hover, .el-button--danger:focus {
  background-color: red;
}

.el-button--primary-text {
  color: $--primary-background-color;
}

.el-button--primary-text:hover, .el-button--primary-text:focus {
  color: $--primary-background-color-hover;
}

.el-button--primary-text.is-disabled {
  color: $--primary-background-color-disabled;
}

.el-button--success-text {
  color: red;
}

.el-button--success-text:hover, .el-button--success-text:focus {
  color: red;
}

.el-button--danger-text {
  color: $--danger-background-color;
}

.el-button--danger-text:hover, .el-button--danger-text:focus {
  color: $--danger-background-color-hover;
}

.el-button--danger-text.is-disabled {
  color: $--danger-background-color-hover-disabled;
}
