#app {

  // 主体区域 Main container
  .main-container {

    min-height: calc(100vh - 80px);
    transition: margin-left .28s;
    margin-left: $sideBarWidth + 40px;
    position: relative;
  }

  // 侧边栏 Sidebar container
  .sidebar-container {
    border-radius: 40px;
    transition: width 0.5s;
    width:200px;
    height: 20px;
    min-height: calc(100vh - 80px);
    position: fixed;
    font-size: 0px;
    top: 40px;
    left: 20px;
    z-index: 1001;

    //reset element-ui css
    // .horizontal-collapse-transition {
    //   transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    // }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      width: 20px;
      height: 20px;
      margin-right: 17px;
      vertical-align: middle;
    }

    .el-menu {
      height: auto;
      width: 100% !important;
      margin-top: 60px;
      border: none;
      text-align: left;
      background: transparent;
    }

    .el-menu-item {
      padding-bottom: 50px;
      text-align: left;
      height: 50px;
      line-height: 50px;
      padding-left: 25px!important;
      border-radius: 20px 20px 20px 20px;
      background: transparent;
      color: $--color-text-secondary;
    }

    .el-menu-item:hover, .el-menu-item:focus {
      background: pink;
      color: $--color-text-secondary;
    }

    .el-menu-item.is-active {
      background:navajowhite;
      color: $--color-white;
    }

    .el-submenu__title {
      padding-left: 40px!important;
    }

    .is-active>.el-submenu__title {
      color: #ffffff !important;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }

    .main-container {
      margin-left: 36px;
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      .el-tooltip {
        padding: 0 10px !important;
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding-left: 10px !important;

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: $sideBarWidth !important;
    background-color: $subMenuBg !important;

    &:hover {
      background-color: $menuHover !important;
      color: #ffffff !important;
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // 适配移动端, Mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 17px;
    }
  }
}
